.kh-c,
.kh-c * {
  box-sizing: border-box;
}
.kh-c {
  background: #ffffff;
  height: 760px;
  position: relative;
  overflow: hidden;
}
.frame-140 {
  padding: 0px 91px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 355px;
  position: absolute;
  left: 39px;
  top: 290px;
}
.icon-cont {
  flex-shrink: 0;
  width: 32px;
  height: 27.43px;
  position: relative;
  overflow: visible;
}
.t-i-kho-n {
  color: var(--material-theme-sys-light-on-primary-container, #002117);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: relative;
}
.frame-142 {
  padding: 0px 91px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 355px;
  position: absolute;
  left: 39px;
  top: 367px;
}
.icon-venituri {
  flex-shrink: 0;
  width: 32px;
  height: 22.86px;
  position: relative;
  overflow: visible;
}
.thu-nh-p {
  color: var(--material-theme-sys-light-on-primary-container, #002117);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: relative;
}
.frame-143 {
  padding: 0px 91px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 355px;
  position: absolute;
  left: 39px;
  top: 438px;
}
.icon-ajutor {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.h-tr {
  color: var(--material-theme-sys-light-on-primary-container, #002117);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: relative;
}
.frame-144 {
  padding: 0px 91px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 355px;
  position: absolute;
  left: 39px;
  top: 520px;
}
.icon-setari {
  flex-shrink: 0;
  width: 32px;
  height: 32.87px;
  position: relative;
  overflow: visible;
}
.c-i-t {
  color: var(--material-theme-sys-light-on-primary-container, #002117);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: relative;
}
.frame-146 {
  padding: 0px 91px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 355px;
  position: absolute;
  left: 39px;
  top: 599px;
}
.icon-setari2 {
  flex-shrink: 0;
  width: 32px;
  height: 32.87px;
  position: relative;
  overflow: visible;
}
.xu-t-d-li-u {
  color: var(--material-theme-sys-light-on-primary-container, #002117);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: relative;
}
.frame-145 {
  background: #d4f4e4;
  border-radius: 2px;
  padding: 40px 22px 37px 56px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
  width: 428px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.avatar-photo {
  border-radius: 50px;
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  position: relative;
}
.image-4 {
  border-radius: 100px;
  width: 96px;
  height: 96px;
  position: absolute;
  left: calc(50% - 48px);
  top: calc(50% - 48px);
}
.frame-147 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 338px;
  position: relative;
}
.frame-1462 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.nguy-n-khoa-o-n {
  color: var(--material-theme-sys-light-on-primary-container, #002117);
  text-align: left;
  font-family: var(
    --typography-title-regular-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-title-regular-font-size, 20px);
  line-height: var(--typography-title-regular-line-height, 28px);
  font-weight: var(--typography-title-regular-font-weight, 400);
  position: relative;
}
.doan-nk-202076422-sis-hust-edu-vn {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: left;
  font-family: "Roboto-Light", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 300;
  position: relative;
}
.arrow-right {
  flex-shrink: 0;
  width: 25px;
  height: 13.78px;
  position: relative;
  overflow: visible;
}
.menu-bottom {
  background: var(--material-theme-ref-primary-primary10, #002117);
  border-style: solid;
  border-color: var(--material-theme-sys-light-outline, #707974);
  border-width: 1px 0 0 0;
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
}
.frame-3, .frame-4, .frame-5, .frame-6, .frame-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 20%;
  height: auto;
  position: relative;
}
.icon-dashboard, .icon-buget, .icon-adauga, .icon-educatie, .icon-more {
  width: 24px;
  height: 24px;
}
.dashboard, .budget, .add, .advice, .more {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}