.t-i-kho-n,
.t-i-kho-n * {
  box-sizing: border-box;
}
.t-i-kho-n {
  background: #f9fbf8;
  height: 760px;
  position: relative;
  overflow-y: auto;
}
.group-107 {
  position: absolute;
  inset: 0;
}
.frame-154 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 422px;
  position: absolute;
  left: 6px;
  top: 181px;
}
.frame-214 {
  padding: 0px 0px 0px 10px;
  flex-shrink: 0;
  width: 487px;
  height: 73px;
  position: relative;
}
.card-cont-bancar {
  background: var(--neutral-white-fff, #ffffff);
  border-radius: 2px;
  padding: 12px 37px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: center;
  justify-content: flex-end;
  width: 396px;
  position: absolute;
  left: 10px;
  top: 0px;
  box-shadow: var(--m-box-shadow, 0px 1px 3px 0px rgba(0, 0, 0, 0.25));
}
.icon-mastercard {
  flex-shrink: 0;
  width: 50px;
  height: 38.87px;
  position: relative;
  overflow: visible;
}
.vector-29 {
  flex-shrink: 0;
  width: 0px;
  height: 49px;
  position: relative;
  overflow: visible;
}
.frame-151 {
  display: flex;
  flex-direction: row;
  gap: 97px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-149 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ing {
  color: var(--neutral-gray-30, #444745);
  text-align: left;
  font-family: var(
    --typography-text-regular-l-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-l-font-size, 16px);
  line-height: var(--typography-text-regular-l-line-height, 24px);
  letter-spacing: var(--typography-text-regular-l-letter-spacing, 0.5px);
  font-weight: var(--typography-text-regular-l-font-weight, 400);
  position: relative;
  width: 92px;
}
._4345 {
  color: var(--neutral-grey-50, #747875);
  text-align: left;
  font-family: var(
    --typography-text-thin-l-font-family,
    "Roboto-Light",
    sans-serif
  );
  font-size: var(--typography-text-thin-l-font-size, 16px);
  line-height: var(--typography-text-thin-l-line-height, 16px);
  letter-spacing: var(--typography-text-thin-l-letter-spacing, 0.4px);
  font-weight: var(--typography-text-thin-l-font-weight, 300);
  position: relative;
}
.frame-211 {
  background: var(--opacity-red20, rgba(255, 84, 73, 0.2));
  border-radius: 0px 2px 2px 0px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 73px;
  position: absolute;
  left: 425px;
  top: 0px;
  overflow: hidden;
}
.icon-bin {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-215 {
  padding: 0px 0px 0px 10px;
  flex-shrink: 0;
  width: 487px;
  height: 73px;
  position: relative;
}
.card-cont-bancar2 {
  background: var(--neutral-white-fff, #ffffff);
  border-radius: 2px;
  padding: 12px 37px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: center;
  justify-content: flex-end;
  width: 396px;
  position: absolute;
  left: 9px;
  top: 0px;
  box-shadow: var(--m-box-shadow, 0px 1px 3px 0px rgba(0, 0, 0, 0.25));
}
.icon-visa {
  flex-shrink: 0;
  width: 50px;
  height: 16.21px;
  position: relative;
  overflow: visible;
}
.vector-292 {
  flex-shrink: 0;
  width: 0px;
  height: 49px;
  position: relative;
  overflow: visible;
}
.brd {
  color: var(--neutral-gray-30, #444745);
  text-align: left;
  font-family: var(
    --typography-text-regular-l-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-l-font-size, 16px);
  line-height: var(--typography-text-regular-l-line-height, 24px);
  letter-spacing: var(--typography-text-regular-l-letter-spacing, 0.5px);
  font-weight: var(--typography-text-regular-l-font-weight, 400);
  position: relative;
  width: 92px;
}
._4789 {
  color: var(--neutral-grey-50, #747875);
  text-align: left;
  font-family: var(
    --typography-text-thin-l-font-family,
    "Roboto-Light",
    sans-serif
  );
  font-size: var(--typography-text-thin-l-font-size, 16px);
  line-height: var(--typography-text-thin-l-line-height, 16px);
  letter-spacing: var(--typography-text-thin-l-letter-spacing, 0.4px);
  font-weight: var(--typography-text-thin-l-font-weight, 300);
  position: relative;
}
.icon-bin2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-adauga {
  width: 27.73px;
  height: 32px;
  position: absolute;
  left: 199px;
  top: 357px;
  overflow: visible;
}
.t-i-kho-n-ng-n-s-ch {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  position: absolute;
  left: 15px;
  top: 139px;
  width: 238px;
}
.frame-2152 {
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 395px;
  position: absolute;
  left: 16px;
  top: 590px;
}
.card-cont-bancar3 {
  background: var(--neutral-white-fff, #ffffff);
  border-radius: 2px;
  padding: 12px 37px 12px 14px;
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 396px;
  height: 73px;
  position: relative;
  box-shadow: var(--m-box-shadow, 0px 1px 3px 0px rgba(0, 0, 0, 0.25));
}
.icon-money {
  flex-shrink: 0;
  width: 32px;
  height: 30.55px;
  position: relative;
  overflow: hidden;
}
.group {
  width: 90.91%;
  height: 90.48%;
  position: absolute;
  right: 4.55%;
  left: 4.55%;
  bottom: 4.76%;
  top: 4.76%;
  overflow: visible;
}
.vector-293 {
  flex-shrink: 0;
  width: 0px;
  height: 49px;
  position: relative;
  overflow: visible;
}
.frame-1512 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 255px;
  position: relative;
}
.frame-150 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.cash-1 {
  color: var(--neutral-gray-30, #444745);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  position: relative;
  width: 92px;
}
.selling-income {
  color: var(--material-theme-sys-light-outline-variant, #bfc9c3);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 400;
  position: relative;
}
.frame-2112 {
  background: var(--opacity-red20, rgba(255, 84, 73, 0.2));
  border-radius: 0px 2px 2px 0px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 62px;
  height: 73px;
  position: relative;
  overflow: hidden;
}
.icon-bin3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-217 {
  display: flex;
  flex-direction: row;
  gap: 19px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 396px;
  position: absolute;
  left: 16px;
  top: 501px;
}
.group2 {
  width: 90.91%;
  height: 90.48%;
  position: absolute;
  right: 4.55%;
  left: 4.55%;
  bottom: 4.76%;
  top: 4.76%;
  overflow: visible;
}
.vector-294 {
  flex-shrink: 0;
  width: 0px;
  height: 49px;
  position: relative;
  overflow: visible;
}
.icon-bin4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-adauga2 {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 192px;
  top: 679px;
  overflow: visible;
}
.ti-n-m-t {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  position: absolute;
  left: 16px;
  top: 457px;
}
.divider-line-gray {
  width: 396px;
  height: 0px;
  position: absolute;
  left: 16px;
  top: 421px;
  overflow: visible;
}
.header-navigation {
  width: 428px;
  height: 96px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group-84 {
  position: absolute;
  inset: 0;
}
.rectangle-6 {
  background: #d4f4e4;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.frame-88 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  width: 212px;
  position: absolute;
  left: calc(50% - 191px);
  top: calc(50% - 0px);
}
.arrow-left {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
}
.pagina-principal {
  color: var(--material-theme-sys-light-on-primary-container, #002117);
  text-align: left;
  font-family: var(
    --typography-title-medium-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--typography-title-medium-font-size, 20px);
  line-height: var(--typography-title-medium-line-height, 28px);
  font-weight: var(--typography-title-medium-font-weight, 500);
  position: relative;
}
.status-bar {
  width: 428px;
  height: 38.3px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.status-bar-content {
  height: auto;
  position: absolute;
  left: 325.06px;
  top: 18.15px;
  overflow: visible;
}
.menu-bottom {
  background: var(--material-theme-ref-primary-primary10, #002117);
  border-style: solid;
  border-color: var(--material-theme-sys-light-outline, #707974);
  border-width: 1px 0 0 0;
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
}
.frame-3, .frame-4, .frame-5, .frame-6, .frame-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 20%;
  height: auto;
  position: relative;
}
.icon-dashboard, .icon-buget, .icon-adauga, .icon-educatie, .icon-more {
  width: 24px;
  height: 24px;
}
.dashboard, .budget, .add, .advice, .more {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  right: 16px;
  top: 50px;
}
.icon-search,
.icon-notification {
  width: 25.51px;
  height: 25.51px;
  cursor: pointer;
}