.th-mb,
.th-mb * {
  box-sizing: border-box;
}
.th-mb {
  background: #f9fbf8;
  height: 760px;
  position: relative;
  overflow-y: auto;
}
.h-m-nay {
  color: var(--neutral-gray-60, #8e928f);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  position: absolute;
  left: 181px;
  top: 320px;
}
.frame-52 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 576px;
  position: absolute;
  left: 16px;
  top: 354px;
  overflow: hidden;
}
.card-transactin {
  background: var(--material-theme-sys-light-on-primary, #ffffff);
  border-radius: 2px;
  padding: 8px 36px 8px 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 396px;
  position: relative;
  box-shadow: var(--m-box-shadow, 0px 1px 3px 0px rgba(0, 0, 0, 0.25));
}
.frame-51 {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-donation-circle {
  background: #f5f5f5;
  border-radius: 100px;
  border-style: solid;
  border-color: #ff7ae2;
  border-width: 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.11),
    inset 0px 3px 4px 0px rgba(255, 255, 255, 0.52);
}
.icon-donation {
  flex-shrink: 0;
  width: 18px;
  height: 17.1px;
  position: relative;
  overflow: visible;
}
.frame-49 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._12-februarie-2022 {
  color: var(--neutral-grey-50, #747875);
  text-align: left;
  font-family: var(
    --typography-text-thin-s-font-family,
    "Roboto-Light",
    sans-serif
  );
  font-size: var(--typography-text-thin-s-font-size, 12px);
  line-height: var(--typography-text-thin-s-line-height, 16px);
  letter-spacing: var(--typography-text-thin-s-letter-spacing, 0.4px);
  font-weight: var(--typography-text-thin-s-font-weight, 300);
  position: relative;
}
.crucea-ro-ie {
  color: var(--neutral-gray-30, #444745);
  text-align: left;
  font-family: var(
    --typography-text-regular-l-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-l-font-size, 16px);
  line-height: var(--typography-text-regular-l-line-height, 24px);
  letter-spacing: var(--typography-text-regular-l-letter-spacing, 0.5px);
  font-weight: var(--typography-text-regular-l-font-weight, 400);
  position: relative;
}
._50-lei {
  color: var(--neutral-gray-30, #444745);
  text-align: left;
  font-family: var(
    --typography-text-medium-m-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--typography-text-medium-m-font-size, 14px);
  line-height: var(--typography-text-medium-m-line-height, 16px);
  letter-spacing: var(--typography-text-medium-m-letter-spacing, 0.5px);
  font-weight: var(--typography-text-medium-m-font-weight, 500);
  position: relative;
}
.icon-food-circle {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: visible;
}
.icon-clothes-circle {
  background: #f5f5f5;
  border-radius: 100px;
  border-style: solid;
  border-color: #a854ea;
  border-width: 2px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.11),
    inset 0px 3px 4px 0px rgba(255, 255, 255, 0.52);
}
.icon-clothes {
  flex-shrink: 0;
  width: 18px;
  height: 20.08px;
  position: relative;
  overflow: visible;
}
.icon-gift-circle {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: visible;
}
.icon-donation2 {
  flex-shrink: 0;
  width: 18px;
  height: 17.1px;
  position: relative;
  overflow: visible;
}
.icon-food-circle2 {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: visible;
}
.frame-35099 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 428px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.header-navigation {
  align-self: stretch;
  flex-shrink: 0;
  height: 96px;
  position: relative;
}
.group-84 {
  position: absolute;
  inset: 0;
}
.rectangle-6 {
  background: #d4f4e4;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.frame-88 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  width: 212px;
  position: absolute;
  left: calc(50% - 191px);
  top: calc(50% - 0px);
}
.arrow-left {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  overflow: visible;
}
.pagina-principal {
  color: var(--material-theme-sys-light-on-primary-container, #002117);
  text-align: left;
  font-family: var(
    --typography-title-medium-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--typography-title-medium-font-size, 20px);
  line-height: var(--typography-title-medium-line-height, 28px);
  font-weight: var(--typography-title-medium-font-weight, 500);
  position: relative;
}
.status-bar {
  width: 428px;
  height: 38.3px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.status-bar-content {
  height: auto;
  position: absolute;
  left: 325.06px;
  top: 18.15px;
  overflow: visible;
}
.group-110 {
  flex-shrink: 0;
  width: 428px;
  height: 217px;
  position: static;
}
.frame-99 {
  background: #d4f4e4;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 428px;
  height: 217px;
  position: absolute;
  left: 0px;
  top: 96px;
}
.card {
  background: #8ed6b2;
  border-radius: 9px;
  padding: 24px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  justify-content: center;
  width: 284px;
  position: absolute;
  left: 72px;
  top: 129px;
  box-shadow: 0px 0px 10px 4px rgba(142, 214, 178, 1),
    0px 0px 2px 0px rgba(55, 78, 65, 1);
}
.icon-visa {
  flex-shrink: 0;
  width: 50px;
  height: 16.21px;
  position: relative;
  overflow: visible;
}
._4625 {
  color: var(--material-theme-sys-light-on-surface-variant, #404944);
  text-align: left;
  font-family: var(
    --typography-text-regular-m-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-m-font-size, 14px);
  line-height: var(--typography-text-regular-m-line-height, 20px);
  letter-spacing: var(--typography-text-regular-m-letter-spacing, 0.25px);
  font-weight: var(--typography-text-regular-m-font-weight, 400);
  position: relative;
}
.frame-168 {
  display: flex;
  flex-direction: row;
  gap: 117px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.popa-andrei {
  color: var(--material-theme-sys-light-on-surface-variant, #404944);
  text-align: left;
  font-family: var(
    --typography-text-regular-m-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-m-font-size, 14px);
  line-height: var(--typography-text-regular-m-line-height, 20px);
  letter-spacing: var(--typography-text-regular-m-letter-spacing, 0.25px);
  font-weight: var(--typography-text-regular-m-font-weight, 400);
  position: relative;
}
._03-05 {
  color: var(--material-theme-sys-light-on-surface-variant, #404944);
  text-align: left;
  font-family: var(
    --typography-text-thin-l-font-family,
    "Roboto-Light",
    sans-serif
  );
  font-size: var(--typography-text-thin-l-font-size, 16px);
  line-height: var(--typography-text-thin-l-line-height, 16px);
  letter-spacing: var(--typography-text-thin-l-letter-spacing, 0.4px);
  font-weight: var(--typography-text-thin-l-font-weight, 300);
  position: relative;
}
._551-50-ron {
  color: var(--material-theme-sys-light-on-surface-variant, #404944);
  text-align: left;
  font-family: var(
    --typography-title-medium-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--typography-title-medium-font-size, 20px);
  line-height: var(--typography-title-medium-line-height, 28px);
  font-weight: var(--typography-title-medium-font-weight, 500);
  position: relative;
}
.menu-bottom {
  background: var(--material-theme-ref-primary-primary10, #002117);
  border-style: solid;
  border-color: var(--material-theme-sys-light-outline, #707974);
  border-width: 1px;
  padding: 12px 19px 16px 19px;
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: center;
  width: 428px;
  position: sticky;
  left: 0px;
  bottom: 0px;
}
.frame-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 55px;
  height: 45px;
  position: relative;
}
.icon-dashboard {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.dashboard {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: left;
  font-family: var(
    --typography-text-regular-s-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-s-font-size, 12px);
  line-height: var(--typography-text-regular-s-line-height, 16px);
  letter-spacing: var(--typography-text-regular-s-letter-spacing, 0.4px);
  font-weight: var(--typography-text-regular-s-font-weight, 400);
  position: relative;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 55px;
  height: 45px;
  position: relative;
}
.icon-buget {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.budget {
  color: var(--color, #707974);
  text-align: left;
  font-family: var(
    --typography-text-regular-s-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-s-font-size, 12px);
  line-height: var(--typography-text-regular-s-line-height, 16px);
  letter-spacing: var(--typography-text-regular-s-letter-spacing, 0.4px);
  font-weight: var(--typography-text-regular-s-font-weight, 400);
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 55px;
  height: 45px;
  position: relative;
}
.icon-adauga {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.add {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: left;
  font-family: var(
    --typography-text-regular-s-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-s-font-size, 12px);
  line-height: var(--typography-text-regular-s-line-height, 16px);
  letter-spacing: var(--typography-text-regular-s-letter-spacing, 0.4px);
  font-weight: var(--typography-text-regular-s-font-weight, 400);
  position: relative;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 55px;
  height: 45px;
  position: relative;
}
.icon-educatie {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.advices {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: left;
  font-family: var(
    --typography-text-regular-s-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-s-font-size, 12px);
  line-height: var(--typography-text-regular-s-line-height, 16px);
  letter-spacing: var(--typography-text-regular-s-letter-spacing, 0.4px);
  font-weight: var(--typography-text-regular-s-font-weight, 400);
  position: relative;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 55px;
  height: 45px;
  position: relative;
}
.icon-more {
  flex-shrink: 0;
  width: 5.14px;
  height: 24px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.ellipse-1 {
  background: var(--color-2, #ffffff);
  border-radius: 50%;
  width: 100%;
  height: 21.43%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 78.57%;
  top: 0%;
}
.ellipse-2 {
  background: var(--color-2, #ffffff);
  border-radius: 50%;
  width: 100%;
  height: 21.43%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 42.86%;
  top: 35.71%;
}
.ellipse-3 {
  background: var(--color-2, #ffffff);
  border-radius: 50%;
  width: 100%;
  height: 21.43%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 78.57%;
}
.more {
  color: var(--color-2, #ffffff);
  text-align: left;
  font-family: var(
    --typography-text-regular-s-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-s-font-size, 12px);
  line-height: var(--typography-text-regular-s-line-height, 16px);
  letter-spacing: var(--typography-text-regular-s-letter-spacing, 0.4px);
  font-weight: var(--typography-text-regular-s-font-weight, 400);
  position: relative;
}
