.ng-n-s-ch-c-nh-n,
.ng-n-s-ch-c-nh-n * {
  box-sizing: border-box;
}
.ng-n-s-ch-c-nh-n {
  background: var(--background-99, #f9fbf8);
  height: 760px;
  position: relative;
  overflow-y: auto;
}
.navigation-tabs-5 {
  border-radius: 2px;
  border-style: solid;
  border-color: var(--material-theme-ref-primary-primary70, #44bf99);
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 391px;
  height: 35px;
  position: absolute;
  left: 18.5px;
  top: 301px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
._7-d {
  background: var(--material-theme-ref-primary-primary70, #44bf99);
  border-style: solid;
  border-color: var(--material-theme-ref-primary-primary70, #44bf99);
  border-width: 0.5px;
  padding: 10px 22px 10px 22px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 35px;
  position: relative;
}
.toate {
  color: var(--neutral-white-fff, #ffffff);
  text-align: center;
  font-family: var(
    --typography-text-medium-s-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--typography-text-medium-s-font-size, 12px);
  line-height: var(--typography-text-medium-s-line-height, 16px);
  letter-spacing: var(--typography-text-medium-s-letter-spacing, 0.5px);
  font-weight: var(--typography-text-medium-s-font-weight, 500);
  position: relative;
}
._3-d {
  background: var(--neutral-white-fff, #ffffff);
  border-style: solid;
  border-color: var(--material-theme-ref-primary-primary70, #44bf99);
  border-width: 0.5px;
  padding: 10px 22px 10px 22px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 35px;
  position: relative;
}
.trebuie {
  color: var(--material-theme-ref-primary-primary70, #44bf99);
  text-align: center;
  font-family: var(
    --typography-text-medium-s-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--typography-text-medium-s-font-size, 12px);
  line-height: var(--typography-text-medium-s-line-height, 16px);
  letter-spacing: var(--typography-text-medium-s-letter-spacing, 0.5px);
  font-weight: var(--typography-text-medium-s-font-weight, 500);
  position: relative;
}
._3-m {
  background: var(--neutral-white-fff, #ffffff);
  border-style: solid;
  border-color: var(--material-theme-ref-primary-primary70, #44bf99);
  border-width: 0.5px;
  padding: 10px 22px 10px 22px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 35px;
  position: relative;
}
.nevoie {
  color: var(--material-theme-ref-primary-primary70, #44bf99);
  text-align: center;
  font-family: var(
    --typography-text-medium-s-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--typography-text-medium-s-font-size, 12px);
  line-height: var(--typography-text-medium-s-line-height, 16px);
  letter-spacing: var(--typography-text-medium-s-letter-spacing, 0.5px);
  font-weight: var(--typography-text-medium-s-font-weight, 500);
  position: relative;
}
.separator {
  width: 395px;
  height: 1px;
  position: absolute;
  left: 16px;
  top: calc(50% - -137px);
  overflow: visible;
}
.frame-35096 {
  display: flex;
  flex-direction: column;
  gap: 58px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 397px;
  height: 1100px;
  position: absolute;
  left: 15px;
  top: 151px;
}
.frame-33 {
  background: var(--material-theme-white, #ffffff);
  border-radius: 2px;
  padding: 32px 36px 32px 36px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 134px;
  position: relative;
  box-shadow: var(--m-box-shadow, 0px 1px 3px 0px rgba(0, 0, 0, 0.25));
}
.frame-31 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.t-ng-s-d {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 500;
  position: relative;
}
._600-280-vnd {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: left;
  font-family: var(
    --typography-text-medium-m-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--typography-text-medium-m-font-size, 14px);
  line-height: var(--typography-text-medium-m-line-height, 16px);
  letter-spacing: var(--typography-text-medium-m-letter-spacing, 0.5px);
  font-weight: var(--typography-text-medium-m-font-weight, 500);
  position: relative;
}
.frame-44 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.mb-bank {
  color: var(--neutral-gray-60, #8e928f);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: relative;
}
._423-550-vn {
  color: var(--material-theme-ref-secondary-secondary60, #3799d2);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 500;
  position: relative;
}
.frame-46 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.techcombank {
  color: var(--neutral-gray-60, #8e928f);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: relative;
}
._577-450-vn {
  color: var(--material-theme-ref-primary-primary60, #1ca380);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 500;
  position: relative;
}
.frame-45 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ti-n-m-t {
  color: var(--neutral-gray-60, #8e928f);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: relative;
}
._0-vn {
  color: var(--neutral-gray-30, #444745);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 500;
  position: relative;
}
.frame-55 {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ti-n-m-t2 {
  color: var(--material-theme-sys-light-inverse-surface, #2e312f);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: relative;
}
.frame-71 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.card-transactin {
  background: var(--material-theme-white, #ffffff);
  border-radius: 2px;
  padding: 8px 36px 8px 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 396px;
  position: relative;
  box-shadow: var(--m-box-shadow, 0px 1px 3px 0px rgba(0, 0, 0, 0.25));
}
.frame-51 {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-car-circle {
  background: #f5f5f5;
  border-radius: 100px;
  border-style: solid;
  border-color: #ff8c21;
  border-width: 2px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.11),
    inset 0px 3px 4px 0px rgba(255, 255, 255, 0.52);
}
.icon-car {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.frame-49 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._12-februarie-2022 {
  color: var(--neutral-grey-50, #747875);
  text-align: left;
  font-family: var(
    --typography-text-thin-s-font-family,
    "Roboto-Light",
    sans-serif
  );
  font-size: var(--typography-text-thin-s-font-size, 12px);
  line-height: var(--typography-text-thin-s-line-height, 16px);
  letter-spacing: var(--typography-text-thin-s-letter-spacing, 0.4px);
  font-weight: var(--typography-text-thin-s-font-weight, 300);
  position: relative;
}
.crucea-ro-ie {
  color: var(--neutral-gray-30, #444745);
  text-align: left;
  font-family: var(
    --typography-text-regular-l-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-l-font-size, 16px);
  line-height: var(--typography-text-regular-l-line-height, 24px);
  letter-spacing: var(--typography-text-regular-l-letter-spacing, 0.5px);
  font-weight: var(--typography-text-regular-l-font-weight, 400);
  position: relative;
}
._50-lei {
  color: var(--neutral-gray-30, #444745);
  text-align: left;
  font-family: var(
    --typography-text-medium-m-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--typography-text-medium-m-font-size, 14px);
  line-height: var(--typography-text-medium-m-line-height, 16px);
  letter-spacing: var(--typography-text-medium-m-letter-spacing, 0.5px);
  font-weight: var(--typography-text-medium-m-font-weight, 500);
  position: relative;
}
.icon-home-circle {
  background: #f5f5f5;
  border-radius: 100px;
  border-style: solid;
  border-color: #ff5843;
  border-width: 2px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.11),
    inset 0px 3px 4px 0px rgba(255, 255, 255, 0.52);
}
.icon-home {
  flex-shrink: 0;
  width: 16px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.card-transactin2 {
  background: var(--material-theme-sys-light-on-primary, #ffffff);
  border-radius: 2px;
  padding: 8px 36px 8px 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 396px;
  position: relative;
  box-shadow: var(--m-box-shadow, 0px 1px 3px 0px rgba(0, 0, 0, 0.25));
}
.icon-gift-circle {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: visible;
}
.icon-home2 {
  flex-shrink: 0;
  width: 16px;
  height: 18px;
  position: relative;
  overflow: visible;
}
.xem-t-t-c {
  color: var(--tertiary-70, #0076e3);
  text-align: left;
  font-family: var(
    --typography-text-regular-l-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-l-font-size, 16px);
  line-height: var(--typography-text-regular-l-line-height, 24px);
  letter-spacing: var(--typography-text-regular-l-letter-spacing, 0.5px);
  font-weight: var(--typography-text-regular-l-font-weight, 400);
  position: relative;
}
.frame-53 {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.techcombank2 {
  color: var(--material-theme-sys-light-inverse-surface, #2e312f);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: relative;
}
.frame-52 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-donation-circle {
  background: #f5f5f5;
  border-radius: 100px;
  border-style: solid;
  border-color: #ff7ae2;
  border-width: 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.11),
    inset 0px 3px 4px 0px rgba(255, 255, 255, 0.52);
}
.icon-donation {
  flex-shrink: 0;
  width: 18px;
  height: 17.1px;
  position: relative;
  overflow: visible;
}
.icon-food-circle {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: visible;
}
.icon-clothes-circle {
  background: #f5f5f5;
  border-radius: 100px;
  border-style: solid;
  border-color: #a854ea;
  border-width: 2px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.11),
    inset 0px 3px 4px 0px rgba(255, 255, 255, 0.52);
}
.icon-clothes {
  flex-shrink: 0;
  width: 18px;
  height: 20.08px;
  position: relative;
  overflow: visible;
}
.icon-gift-circle2 {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: visible;
}
.group-34717 {
  position: absolute;
  inset: 0;
}
.header-navigation {
  width: 428px;
  height: 87px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-6 {
  background: #d4f4e4;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.status-bar {
  width: 101.28%;
  height: 44.58%;
  position: absolute;
  right: -1.28%;
  left: 0%;
  bottom: 55.42%;
  top: 0%;
}
.status-bar-content {
  height: auto;
  position: absolute;
  left: 329.23px;
  top: 18.38px;
  overflow: visible;
}
.ng-n-s-ch {
  color: var(--primary-20, #003829);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18.22429847717285px;
  line-height: 25.51px;
  font-weight: 500;
  position: absolute;
  right: 67.95%;
  left: 9.23%;
  width: 22.82%;
  bottom: 20.28%;
  top: 50%;
  height: 29.72%;
}
.navigation-tab-top-2 {
  width: 428px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 87px;
}
.frame-10 {
  background: #d4f4e4;
  padding: 15.49px 65.61px 15.49px 65.61px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.c-nh-n {
  color: var(--material-theme-sys-light-primary, #006c52);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 25.51px;
  font-weight: 500;
  position: absolute;
  left: 66px;
  top: 3.19px;
}
.nh-m {
  color: var(--primary-50, #008768);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.51px;
  font-weight: 400;
  position: absolute;
  left: 281.61px;
  top: 3.19px;
}
.selection-line-120 {
  width: 49.23%;
  height: 0%;
  position: absolute;
  right: 0.77%;
  left: 50%;
  bottom: 0%;
  top: 100%;
  transform: translate(-186.83px, -9.57px);
  overflow: visible;
}
.menu-bottom {
  background: var(--material-theme-ref-primary-primary10, #002117);
  border-style: solid;
  border-color: var(--material-theme-sys-light-outline, #707974);
  border-width: 1px;
  padding: 12px 19px 16px 19px;
  display: flex;
  flex-direction: row;
  gap: 26px;
  align-items: center;
  justify-content: center;
  width: 428px;
  position: sticky;
  left: 0px;
  bottom: 0px;
}
.frame-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 55px;
  height: 45px;
  position: relative;
}
.icon-dashboard {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.dashboard {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: left;
  font-family: var(
    --typography-text-regular-s-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-s-font-size, 12px);
  line-height: var(--typography-text-regular-s-line-height, 16px);
  letter-spacing: var(--typography-text-regular-s-letter-spacing, 0.4px);
  font-weight: var(--typography-text-regular-s-font-weight, 400);
  position: relative;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 55px;
  height: 45px;
  position: relative;
}
.icon-buget {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.budget {
  color: var(--material-theme-sys-light-on-primary, #ffffff);
  text-align: left;
  font-family: var(
    --typography-text-regular-s-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-s-font-size, 12px);
  line-height: var(--typography-text-regular-s-line-height, 16px);
  letter-spacing: var(--typography-text-regular-s-letter-spacing, 0.4px);
  font-weight: var(--typography-text-regular-s-font-weight, 400);
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 55px;
  height: 45px;
  position: relative;
}
.icon-adauga {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.add {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: left;
  font-family: var(
    --typography-text-regular-s-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-s-font-size, 12px);
  line-height: var(--typography-text-regular-s-line-height, 16px);
  letter-spacing: var(--typography-text-regular-s-letter-spacing, 0.4px);
  font-weight: var(--typography-text-regular-s-font-weight, 400);
  position: relative;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 55px;
  height: 45px;
  position: relative;
}
.icon-educatie {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.advices {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: left;
  font-family: var(
    --typography-text-regular-s-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-s-font-size, 12px);
  line-height: var(--typography-text-regular-s-line-height, 16px);
  letter-spacing: var(--typography-text-regular-s-letter-spacing, 0.4px);
  font-weight: var(--typography-text-regular-s-font-weight, 400);
  position: relative;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 55px;
  height: 45px;
  position: relative;
}
.icon-more {
  flex-shrink: 0;
  width: 5.14px;
  height: 24px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.ellipse-1 {
  background: var(--material-theme-sys-light-outline, #707974);
  border-radius: 50%;
  width: 100%;
  height: 21.43%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 78.57%;
  top: 0%;
}
.ellipse-2 {
  background: var(--material-theme-sys-light-outline, #707974);
  border-radius: 50%;
  width: 100%;
  height: 21.43%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 42.86%;
  top: 35.71%;
}
.ellipse-3 {
  background: var(--material-theme-sys-light-outline, #707974);
  border-radius: 50%;
  width: 100%;
  height: 21.43%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 78.57%;
}
.more {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: left;
  font-family: var(
    --typography-text-regular-s-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-s-font-size, 12px);
  line-height: var(--typography-text-regular-s-line-height, 16px);
  letter-spacing: var(--typography-text-regular-s-letter-spacing, 0.4px);
  font-weight: var(--typography-text-regular-s-font-weight, 400);
  position: relative;
}
