.ng-n-s-ch-nh-m,
.ng-n-s-ch-nh-m * {
  box-sizing: border-box;
}
.ng-n-s-ch-nh-m {
  background: var(--background-99, #f9fbf8);
  height: 760px;
  position: relative;
  overflow-y: auto;
}
.frame-228 {
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: calc(50% - 180px);
  top: 301px;
}
.frame-79 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.avatar-photo {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
  box-shadow: var(--m-box-shadow, 0px 1px 3px 0px rgba(0, 0, 0, 0.25));
}
.ellipse-10 {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  object-fit: cover;
}
.image-1 {
  border-radius: 100px;
  width: 64px;
  height: 64px;
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
}
.hi-u {
  color: var(--neutral-gray-30, #444745);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 400;
  position: relative;
}
.frame-80 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-3 {
  border-radius: 100px;
  width: 64px;
  height: 64px;
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
}
.o-n {
  color: var(--neutral-gray-30, #444745);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 400;
  position: relative;
}
.frame-81 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.image-2 {
  border-radius: 100px;
  width: 64px;
  height: 64px;
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
}
.s-n {
  color: var(--neutral-gray-30, #444745);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 400;
  position: relative;
}
.frame-82 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  z-index: 1000;
}
.ellipse-102 {
  background: var(--material-theme-sys-light-on-primary, #ffffff);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.icon-adauga {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
  overflow: visible;
}
.th-m {
  color: var(--material-theme-sys-light-outline-variant, #bfc9c3);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 400;
  position: relative;
}
.navigation-tabs-5 {
  border-radius: 2px;
  border-style: solid;
  border-color: var(--material-theme-ref-primary-primary70, #44bf99);
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 391px;
  height: 35px;
  position: absolute;
  left: 18.5px;
  top: 401px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
  z-index: 1000;
}
._7-d {
  background: var(--material-theme-ref-primary-primary70, #44bf99);
  border-style: solid;
  border-color: var(--material-theme-ref-primary-primary70, #44bf99);
  border-width: 0.5px;
  padding: 10px 22px 10px 22px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 35px;
  position: relative;
}
.toate {
  color: var(--neutral-white-fff, #ffffff);
  text-align: center;
  font-family: var(
    --typography-text-medium-s-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--typography-text-medium-s-font-size, 12px);
  line-height: var(--typography-text-medium-s-line-height, 16px);
  letter-spacing: var(--typography-text-medium-s-letter-spacing, 0.5px);
  font-weight: var(--typography-text-medium-s-font-weight, 500);
  position: relative;
}
._3-d {
  background: var(--neutral-white-fff, #ffffff);
  border-style: solid;
  border-color: var(--material-theme-ref-primary-primary70, #44bf99);
  border-width: 0.5px;
  padding: 10px 22px 10px 22px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 35px;
  position: relative;
}
.trebuie {
  color: var(--material-theme-ref-primary-primary70, #44bf99);
  text-align: center;
  font-family: var(
    --typography-text-medium-s-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--typography-text-medium-s-font-size, 12px);
  line-height: var(--typography-text-medium-s-line-height, 16px);
  letter-spacing: var(--typography-text-medium-s-letter-spacing, 0.5px);
  font-weight: var(--typography-text-medium-s-font-weight, 500);
  position: relative;
}
._3-m {
  background: var(--neutral-white-fff, #ffffff);
  border-style: solid;
  border-color: var(--material-theme-ref-primary-primary70, #44bf99);
  border-width: 0.5px;
  padding: 10px 22px 10px 22px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 35px;
  position: relative;
}
.nevoie {
  color: var(--material-theme-ref-primary-primary70, #44bf99);
  text-align: center;
  font-family: var(
    --typography-text-medium-s-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--typography-text-medium-s-font-size, 12px);
  line-height: var(--typography-text-medium-s-line-height, 16px);
  letter-spacing: var(--typography-text-medium-s-letter-spacing, 0.5px);
  font-weight: var(--typography-text-medium-s-font-weight, 500);
  position: relative;
}
.frame-35097 {
  width: 396px;
  height: 947px;
  position: absolute;
  left: 16px;
  top: 151px;
}
.frame-33 {
  background: var(--neutral-white-fff, #ffffff);
  border-radius: 2px;
  padding: 32px 36px 32px 36px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  width: 396px;
  height: 134px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: var(--m-box-shadow, 0px 1px 3px 0px rgba(0, 0, 0, 0.25));
}
.frame-31 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.t-ng-s-d {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 500;
  position: relative;
}
._600-280-vnd {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: left;
  font-family: var(
    --typography-text-medium-m-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--typography-text-medium-m-font-size, 14px);
  line-height: var(--typography-text-medium-m-line-height, 16px);
  letter-spacing: var(--typography-text-medium-m-letter-spacing, 0.5px);
  font-weight: var(--typography-text-medium-m-font-weight, 500);
  position: relative;
}
.frame-44 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.phong {
  color: var(--cont-orange-50, #f68500);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 500;
  position: relative;
}
._423-550-vn {
  color: var(--cont-orange-50, #f68500);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 500;
  position: relative;
}
.frame-46 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.o-n2 {
  color: var(--tertiary-65, #0263bd);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 500;
  position: relative;
}
._577-450-vn {
  color: var(--tertiary-65, #0263bd);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 500;
  position: relative;
}
.frame-45 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.hi-u2 {
  color: var(--primary-60, #18a381);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 500;
  position: relative;
}
._0-vn {
  color: var(--primary-60, #18a381);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 500;
  position: relative;
}
.frame-53 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 396px;
  position: absolute;
  left: 0px;
  top: 316px;
}
.giao-d-ch-g-n-y {
  color: var(--material-theme-sys-light-inverse-surface, #2e312f);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 500;
  position: relative;
}
.frame-822 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.card-transactin {
  background: var(--material-theme-sys-light-on-primary, #ffffff);
  border-radius: 2px;
  padding: 8px 36px 8px 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 396px;
  position: relative;
  box-shadow: var(--m-box-shadow, 0px 1px 3px 0px rgba(0, 0, 0, 0.25));
}
.frame-51 {
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.avatar-photo2 {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  box-shadow: var(--m-box-shadow, 0px 1px 3px 0px rgba(0, 0, 0, 0.25));
}
.image-32 {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
}
.frame-49 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._12-februarie-2022 {
  color: var(--neutral-grey-50, #747875);
  text-align: left;
  font-family: var(
    --typography-text-thin-s-font-family,
    "Roboto-Light",
    sans-serif
  );
  font-size: var(--typography-text-thin-s-font-size, 12px);
  line-height: var(--typography-text-thin-s-line-height, 16px);
  letter-spacing: var(--typography-text-thin-s-letter-spacing, 0.4px);
  font-weight: var(--typography-text-thin-s-font-weight, 300);
  position: relative;
}
.crucea-ro-ie {
  color: var(--neutral-gray-30, #444745);
  text-align: left;
  font-family: var(
    --typography-text-regular-l-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-l-font-size, 16px);
  line-height: var(--typography-text-regular-l-line-height, 24px);
  letter-spacing: var(--typography-text-regular-l-letter-spacing, 0.5px);
  font-weight: var(--typography-text-regular-l-font-weight, 400);
  position: relative;
}
._50-lei {
  color: var(--neutral-gray-30, #444745);
  text-align: left;
  font-family: var(
    --typography-text-medium-m-font-family,
    "Roboto-Medium",
    sans-serif
  );
  font-size: var(--typography-text-medium-m-font-size, 14px);
  line-height: var(--typography-text-medium-m-line-height, 16px);
  letter-spacing: var(--typography-text-medium-m-letter-spacing, 0.5px);
  font-weight: var(--typography-text-medium-m-font-weight, 500);
  position: relative;
}
.image-22 {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
}
.image-12 {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
}
.xem-t-t-c {
  color: var(--tertiary-70, #0076e3);
  text-align: left;
  font-family: var(
    --typography-text-regular-l-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--typography-text-regular-l-font-size, 16px);
  line-height: var(--typography-text-regular-l-line-height, 24px);
  letter-spacing: var(--typography-text-regular-l-letter-spacing, 0.5px);
  font-weight: var(--typography-text-regular-l-font-weight, 400);
  position: relative;
}
.group-34716 {
  position: absolute;
  inset: 0;
}
.header-navigation {
  width: 428px;
  height: 87px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-6 {
  background: #d4f4e4;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.status-bar {
  width: 101.28%;
  height: 44.58%;
  position: absolute;
  right: -1.28%;
  left: 0%;
  bottom: 55.42%;
  top: 0%;
}
.status-bar-content {
  height: auto;
  position: absolute;
  left: 329.23px;
  top: 18.38px;
  overflow: visible;
}
.ng-n-s-ch {
  color: var(--primary-20, #003829);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18.22429847717285px;
  line-height: 25.51px;
  font-weight: 500;
  position: absolute;
  right: 67.95%;
  left: 9.23%;
  width: 22.82%;
  bottom: 20.28%;
  top: 50%;
  height: 29.72%;
}
.navigation-tab-top-2 {
  width: 428px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 87px;
}
.frame-10 {
  background: #d4f4e4;
  padding: 15.49px 65.61px 15.49px 65.61px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.c-nh-n {
  color: var(--primary-50, #008768);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 25.51px;
  font-weight: 400;
  position: absolute;
  left: 65.61px;
  top: 3.19px;
}
.nh-m {
  color: var(--material-theme-sys-light-primary, #006c52);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 25.51px;
  font-weight: 500;
  position: absolute;
  left: 282px;
  top: 3.19px;
}
.selection-line-120 {
  width: 49.23%;
  height: 0%;
  position: absolute;
  right: 0.77%;
  left: 50%;
  bottom: 0%;
  top: 100%;
  transform: translate(0px, -9.57px);
  overflow: visible;
}
.menu-bottom {
  background: var(--material-theme-ref-primary-primary10, #002117);
  border-style: solid;
  border-color: var(--material-theme-sys-light-outline, #707974);
  border-width: 1px 0 0 0;
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
}
.frame-3, .frame-4, .frame-5, .frame-6, .frame-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 20%;
  height: auto;
  position: relative;
}
.icon-dashboard, .icon-buget, .icon-adauga, .icon-educatie, .icon-more {
  width: 24px;
  height: 24px;
}
.dashboard, .budget, .add, .advice, .more {
  color: var(--material-theme-sys-light-outline, #707974);
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
 
.icon-search,
.icon-notification {
  width: 25.51px; /* Bằng với line-height của chữ Tổng Quan */
  height: 25.51px;
  cursor: pointer;
  margin-top: 20px;
}
 
/* Điều chỉnh lại vị trí của header-right để căn chỉnh với chữ Tổng Quan */
.header-right {
  bottom: 20.69%;
  top: 49.43%;
  height: 29.89%;
}

.positive-transaction {
  color: var(--primary-60, #18a381);
}

.negative-transaction {
  color: var(--cont-orange-50, #fc2525);
}
